
.swiper {
  width: 100%;
  max-width: 400px; 
  margin-inline: 0;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 500px;
  object-fit: cover;
}

@media(max-width: 768px) {
  .swiper {
    max-width: 500px;
  }
}

@media(max-width: 576px) {
  .swiper {
    max-width: 600px;
  }

  .swiper-slide {
    max-width: 400px;
  }
}

@media(max-width: 420px) {
  .swiper {
    max-width: 500px;
  }

  .swiper-slide {
    max-width: 300px;
  }
}